<div class="home-tooltip">
    <table>
      <tr>
        <td>
          <ul>Bed
            <li>Sheets</li>
            <li>Protecter</li>
            <li>Diwam</li>
            <li>Sofa</li>
          </ul>
        </td>
       <td>
          <ul>Decoration
            <li>dolls</li>
            <li>lights</li>
            <li>wallunit</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <ul>Home Decor
            <li>clocks</li>
            <li>pooja</li>
            <li>Diya</li>
            <li>Mandala</li>
          </ul>
        </td>
        <td>
          <ul>Storage
            <li>Bin</li>
            <li>hangers</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  