<div class="account-details-container">
    <h2>Account details</h2>
    <div class="account-card">
        <div class="account-row">
            <label>Customer Name</label>
            <span>{{customer.customerName}}</span>
        </div>
        <div class="account-row">
            <label>Customer Id</label>
            <span>{{customer.customerId}}</span>
        </div>
        <div class="account-row">
            <label>Mobile</label>
            <span><input type="text" [(ngModel)]="customer.phoneNumber"/></span>
           
        </div>
    </div>
</div>>