<div class="kid-tooltip">
    <table>
      <tr>
        <td>
          <ul>Boys
            <li><a href="#" (click)="handleClick('Mens Tshirt')">nightSuits</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Tshirts</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Bottomwear Wear</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Shoes</a></li>
          </ul>
        </td>
       <td>
          <ul>Girls
            <li><a href="#" (click)="handleClick('Kids Frocks')">frocks</a></li>
            <li><a href="#" (click)="handleClick('Kids night wear')">night</a></li>
            <li><a href="#" (click)="handleClick('kids girl dress')">Dreeses</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <ul>Toys
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Educational</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Activity</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">SoftToys</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">NewArrivals</a></li>
          </ul>
        </td>
        <td>
          <ul>Infants
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Body Suits</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Rompers</a></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  