<div class="swiper-container">
     <div class="swiper-wrapper">
       <div class="swiper-slide"><img src="assets/Under 499.jpg" alt="Slide 1"></div>
      <div class="swiper-slide"><img src="assets/Home Products Sale.jpg" alt="Slide 2"></div>
      <div class="swiper-slide"><img src="assets/Kids 499.jpg" alt="Slide 3"></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- <swiper >
    hii
  ,  <ng-container *ngFor="let slide of slideData">
      <div class="swiper-slide">
        <img [src]="slide.image" alt="{{ slide.title }}" />
        <div class="slide-content">
          <h3>{{ slide.image }}</h3>
          <p>{{ slide.description }}</p>
        </div>
      </div>
    </ng-container>
  </swiper> -->

  
