<footer class="footer">
    <div class="quick-links">
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/terms">Terms of Service</a>
      <a href="/help">Help</a>
    </div>
    <div class="contact">
      <p>Email: support@ecomapp.com</p>
      <p>Phone: +123 456 7890</p>
    </div>
    <div class="social">
      <a href="https://facebook.com">Facebook</a>
      <a href="https://twitter.com">Twitter</a>
      <a href="https://instagram.com">Instagram</a>
    </div>
    <div class="newsletter">
      <label for="newsletter">Subscribe to our newsletter:</label>
      <input type="email" id="newsletter" placeholder="Enter your email">
      <button>Subscribe</button>
    </div>
  </footer>
  