<div class="men-tooltip">
    <table>
      <tr>
        <td>
          <ul>Topwear
            <li><a href="#" (click)="handleClick('Mens Tshirt')">T-shirts</a></li>
            <li><a href="#" (click)="handleClick('Mens Shirt')">Formal</a></li>
            <li><a href="#" (click)="handleClick('Men SweatShirt')">Sweat Shirt</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Suit</a>Suit</li>
          </ul>
        </td>
        <td>
          <ul>Indian Wear
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Kurtas</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Sharwani</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Dhothis</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <ul>Bottomwear
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Shorts</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Pants</a></li>
            <li><a href="#" (click)="handleClick('Mens Jeans')">Jeans</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Tracks</a></li>
          </ul>
        </td>
        <td>
          <ul>Inner Wear
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Boxers</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Thermals</a></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  