<head>
    My ECom Application
</head>

<body>
    <title>My ECom Application</title>
   
    <!-- <app-account [custId]="selectedCustId"></app-account> -->
    <!-- <button mat-raised-button type="button"
    matTooltip="This is a custom tooltip" matTooltipClass="mattooltip">
Hover me
</button> -->
    <!-- <button mat-raised-button matTooltip="Custom Tooltip" matTooltipClass="custom-tooltip">
        Hover over me
    </button> -->
    <app-app-slider></app-app-slider>

    <div class="container">
        <!-- <div class="vertical-nav">
            <ul>
                <li style="background-color: white;"><a routerLink="/men" routerLinkActive="active">Men</a></li>
                <li><a routerLink="/women" routerLinkActive="active">Women</a></li>
                <li><a routerLink="/child" routerLinkActive="active">Child</a></li>
            </ul>
        </div> -->
        <div class="content">
            <div class="card-container">
            
                <div class="card">
                    <div class="card_items">
                      <img src="assets/fruits.jpeg" alt="Fruits" />
                      <div class="text-center">
                      <h3 >Fruits</h3>
                      <p>Organic Fruits</p>
                      <button mat-button color="primary">View Details</button>
                    </div>
                    </div>
                  </div>
                  
                 
            
                  <!-- Second Card -->
                  <div class="card">
                    <div class="card_items">
                      <img src="assets/vegetables.jpeg" alt="Vegetables" />
                      <div class="text-center">
                        <h3 >Vegetables</h3>
                        <p>Organic Vegetables</p>
                        <button mat-button color="primary">View Details</button>
                      </div>
                    </div>
                  </div>
            
                  <!-- Third Card -->
                  <div class="card">
                    <div class="card_items">
                        <img src="assets/vegetables.jpeg" alt="Vegetables" />
                        <div class="text-center">
                            <h3 >Home Items</h3>
                            <p>Tending home items</p>
                            <button mat-button color="primary">View Details</button>
                          </div>
                    </div>
                  </div>
            </div>
            </div>
        </div>
        
        



</body>