<div class="women-tooltip">
    <table>
      <tr>
        <td>
          <ul>IndianWear
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Kurtis, Tunics & Tops</a></li>
            <li><a href="#" (click)="handleClick('Saree')">Sarees</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Ethnic Wear</a></li>
            <li><a href="#" (click)="handleClick('Women Skirts')">Skirts</a></li>
          </ul>
        </td>
       <td>
          <ul>Western Wear
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Kurtas</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Tshirts</a></li>
            <li><a href="#" (click)="handleClick('Women jeans')">jeans</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <ul>FootWear
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Flats</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Heels</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Shoes</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Flipflops</a></li>
          </ul>
        </td>
        <td>
          <ul>Sports Wear
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Boxers</a></li>
            <li><a href="#" (click)="handleClick('Mens Tshirt')">Equipment</a></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  